<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="14" android:versionName="1.0.0-rc1">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="35" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <application android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:label="Elfen Lied Fighting" android:theme="@android:style/Theme.Material.NoActionBar" android:allowBackup="false" android:hardwareAccelerated="true" android:supportsRtl="true" android:usesCleartextTraffic="false">
        <activity android:name="org.elfen.fighting.MainActivity" android:screenOrientation="sensorLandscape" android:configChanges="orientation|screenSize|keyboardHidden|keyboard|navigation" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <provider android:name="org.elfen.fighting.ReportProvider" android:authorities="org.elfen.fighting.nativeport.reports" android:exported="false" android:grantUriPermissions="true" />
    </application>
</manifest>
